//- Including Icon mixins
include ../node_modules/jade-bootstrap/components/icons.pug
//- Including Alert mixins
include ../node_modules/jade-bootstrap/components/alerts.pug

//- Including Tooltip mixins
include ../node_modules/jade-bootstrap/components/tooltips.pug
//- Including Accordion mixins
include ../node_modules/jade-bootstrap/components/accordion.pug
//- Including Carousel mixins
include ../node_modules/jade-bootstrap/components/carousel.pug
//- Including Table mixins
include ../node_modules/jade-bootstrap/components/tables.pug
//- Including Navbar mixins
include ../node_modules/jade-bootstrap/components/navbar.pug
//- Including Toggle Button mixins
include ../node_modules/jade-bootstrap/components/toggle.pug
//- Including Nav mixins
include ../node_modules/jade-bootstrap/components/navs.pug
//- Including Label mixins
include ../node_modules/jade-bootstrap/components/labels.pug
//- Including Panel mixins
include ../node_modules/jade-bootstrap/components/panels.pug
//- Including Tab mixins
include ../node_modules/jade-bootstrap/components/tabs.pug
//- Including Dropdown mixins
include ../node_modules/jade-bootstrap/components/dropdowns.pug
//- Including Form control mixins
include ../node_modules/jade-bootstrap/components/forms.pug
//- Including Modal dialog mixins
include ../node_modules/jade-bootstrap/components/modal.pug
//- Including List group mixins
include ../node_modules/jade-bootstrap/components/list-groups.pug
//- Including Progress bar mixins
include ../node_modules/jade-bootstrap/components/progress-bars.pug
//- Including Button mixins
include ../node_modules/jade-bootstrap/components/buttons.pug
//- Including Image mixins
include ../node_modules/jade-bootstrap/components/images.pug
//- Including Bootswatch theme mixins
include ../node_modules/jade-bootstrap/components/bootswatch.pug


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        meta(name="description",content="Hacktoberfest Proggress Checker")
        meta(name="author",content="Stefano Pezzino")
        //link(rel="icon",href="../../favicon.ico")
        title Hacktoberfest Checker
        block styles
            link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
            link(rel="stylesheet",href="/stylesheets/style.css")
            link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css")

    body(data-spy="scroll",data-target=".scrollspy")
        a(href="https://github.com/spezzino/hfchecker" title="Fork me on GitHub").github-fork-ribbon.fixed Fork me on GitHub
        block body

        block scripts
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
            script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
            script(src="/javascripts/scripts.js")

        script(type='text/javascript').
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                a = s.createElement(o), m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');ga('create', 'UA-64326289-6', 'auto');ga('send', 'pageview');